/**
 * Created by shiro on 16/12/25.
 */

.fade-enter-active {
  transition: all .5s ease-out;
}
.fade-leave-active {
  transition: all .6s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 0;
  overflow: hidden;
  transform: rotateX(90deg);
}
.fade-leave {
  max-height: 3em;
}

.anime-breath {
  animation: breath 3s infinite ease-out alternate;
}
@keyframes breath {
  0% {
    box-shadow: 0 0 20px 0 #fff;
  }
  100% {
    box-shadow: 0 0 5px 0 #fff;
  }
}

.anime-spin-before::before,
.anime-spin-after::after,
.anime-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}