/**
 * Created by shiro on 16/12/25.
 */

$radius_size: 3px !default;

/* button style */
.btn {
  border: 1px solid;
  padding: 6px 12px;
  border-radius: $radius_size;
  color: #777;
  background-color: #fff;
  line-height: 1;
  cursor: pointer;
  &.en {
    padding: 3px 6px;
  }
  &.disable {
    cursor: not-allowed;
  }
}