/**
 * Created by shiro on 16/12/27.
 */

$errorColor_fz: #c62828 !default;
$errorColor_bg: #fcdede !default;
$errorColor_bd: #d2b2b2 !default;
$focusColor: #03a9f4 !default;
$form_width: 22rem !default;

.form {
  .action-group,
  .form-group {
    float: left;
    width: 100%;
    &.half {
      width: $form_width / 2;
      max-width: 50%;
    }
  }
  &::after {
    content: "";
    display: table;
    clear: both;
    float: none;
    *zoom: 1;
  }
  .errorMsg {
    padding: .5em .5em;
    background: $errorColor_bg;
    box-shadow: 0 -1px 0 0 $errorColor_bd, 0 1px 0 0 $errorColor_bd;
    > span {
      display: inline-block;
      font-size: .7rem;
      color: $errorColor_fz;
    }
    .off {
      position: relative;
      top: .25em;
      display: inline-block;
      font-size: .6rem;
      width: 1em;
      height: 1em;
      margin: 0 .5em;
      vertical-align: middle;
      cursor: pointer;
      float: right;
      &::before {
        content: "";
        position: absolute;
        top: 0; left: 50%;
        margin-left: -1px;
        display: inline-block;
        width: 2px;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid $errorColor_fz;
        border-radius: 2px;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0; left: 50%;
        margin-left: -1px;
        display: inline-block;
        width: 2px;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid $errorColor_fz;
        border-radius: 2px;
        transform: rotate(-45deg);
      }
    }
  }
}
.form-field {
  width: $form_width;
  max-width: 100%;
  padding: .5em 1em;
  line-height: 2;
  border: 1px solid #dcdcdc;
  &.error {
    border-color: $errorColor;
  }
}

dl.form-group {
  position: relative;
  margin: .7rem 0;
  > dt {
    font-weight: 600;
    margin-bottom: .3rem;
    transition: all .3s ease-in-out .5s;
  }
  > dd {
    &.error {
      position: absolute;
      bottom: -3.5em;
      padding: .6em .5em .4em;
      line-height: 1;
      font-size: .6rem;
      color: $errorColor_fz;
      background: $errorColor_bg;
      border: 1px solid $errorColor_bd;
      border-radius: 3px;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out .5s;
      &::before,
      &::after {
        content: " ";
        position: absolute;
        border: 6px solid transparent;
        border-bottom-color: inherit;
        bottom: 100%;
        left: .5em;
        z-index: 1;
        width: 0;
        height: 0;
        pointer-events: none;
      }
      &::after {
        margin-left: 1px;
        border-bottom-color: $errorColor_bg;
        border-width: 5px;
      }
    }
  }
  label {
    font-weight: inherit;
  }
  &.error {
    color: $errorColor_fz;
    .error {
      bottom: -2.5em;
      visibility: visible;
      opacity: 1;
    }
  }
  .form-field {
    padding: .3rem .4rem;
    line-height: 1rem;
    border-radius: 3px;
    background: #fafafa center right .4rem / .8rem auto no-repeat;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    color: #333;
    transition: all .3s;
    &.bg-tag-error {
      padding-right: 1.5rem;
      background-image: url(../images/error-tag.png);
    }
    &.bg-tag-success {
      padding-right: 1.5rem;
      background-image: url(../images/success-tag.png);
    }
    &.bg-tag-loading {
      padding-right: 1.5rem;
      background-image: url(../images/loading.gif);
    }
    &:focus {
      border-color: $focusColor;
      background-color: #fff;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(81,167,232,0.5);
    }
  }
}

.action-group {
  position: relative;
  margin: .7rem 0;
  > .btn {
    line-height: 1.5;
  }
}

.form-group {
  display: block;
  > .btn {
    display: block;
    width: 2em;
    height: 100%;
    float: right;
    border-radius: 0;
    &.goto {
      position: relative;
      border: 0;
      background: hsla(0,0%,100%,.34) url(../images/arrow.png) 50% 50% / 75% auto no-repeat;
    }
  }
  > label {
    display: block;
    overflow: hidden;
  }
}

input {
  &[type=password] {
    font-family: monospace;
  }
}

