/**
 * Created by shiro on 17/1/15.
 */

// 小标题
.subhead {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: .4rem;
  > h2 {
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
