/**
 * Created by shiro on 16/12/25.
 */

$backgroundColor: #dcdcdc !default;

/* line-tag style */
.line-tag {
  position: relative;
  height: 20px;
  &::before {
    position: relative;
    left: 12px;
    content: attr(data-tag);
    display: block;
    float: left;
    padding: 3px 7px 1px;
    font-size: 12px;
    line-height: 1;
    border: 1px solid $backgroundColor;
    border-radius: 9px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 0 2px #fff;
  }
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $backgroundColor;
  }
}