@charset "utf-8";

@import 'color';

$radius_size: 3px;

/* common style */
.center {
  text-align: center;
}
.disable {
  filter: grayscale(100%);
  cursor: not-allowed;
}
.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
    float: none;
    *zoom: 1;
  }
}
.clearbox {
  display: table;
  clear: both;
  float: none;
  *zoom: 1;
}
.conceal {
  color: #000;
  background-color: #000;
  border-radius: $radius_size;
  &::selection {
    color: #fff;
    background-color: transparent;
  }
  &.full::selection {
    color: #000;
    background-color: transparent;
  }
}


/* button style */
.btn {
  border: 1px solid;
  padding: 6px 12px;
  border-radius: $radius_size;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  &.en {
    padding: 3px 6px;
  }
  &.disable {
    cursor: not-allowed;
  }
}

/* table style */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #d6d6d6;
  color: #333;
  th {
    font-size: 25px;
    text-align: left;
  }
  thead {
    background-color: rgba(0,0,0,.1);
  }
  .sequence {
    text-align: center;
  }
  tr.select {
    box-shadow: 0px 0px 10px 1px #bdbdbd;
  }
}
tbody {
  tr {
    border-top: 1px solid #d6d6d6;
    padding: .5em 0;
    line-height: 1.8;
    font-size: 16px;
  }
  tr:nth-child(even) {
    background-color: rgba(0,0,0,.05);
  }
}

/* font famil */
@font-face {
  font-family:'HanHei SC';
  font-style:normal;
  font-weight:300;
  src:local('â˜ºï¸Ž'), url("../fonts/HanHei-SC-thin.woff") format("woff"), url("../fonts/HanHei-SC-thin.ttf") format("truetype");
  /* Copyright Â© 2015 Apple Inc. All rights reserved. */
}

@font-face {
  font-family:'HanHei SC';
  font-style:normal;
  font-weight:600;
  src:local('â˜ºï¸Ž'), url("../fonts/HanHei-SC-semibold.woff") format("woff"), url("../fonts/HanHei-SC-semibold.ttf") format("truetype");
  /* Copyright Â© 2015 Apple Inc. All rights reserved. */
}

@font-face {
  font-family:'HanHei SC';
  font-style:normal;
  font-weight:400;
  src:local('â˜ºï¸Ž'), url("../fonts/HanHei-SC-text.woff") format("woff"), url("../fonts/HanHei-SC-text.ttf") format("truetype");
  /* Copyright Â© 2015 Apple Inc. All rights reserved. */
}


